<%= form_for @item, url: {action: "create"}, html: {multipart: true} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= file_field_tag "image[]", type: :file, multiple: true %>

  <%= f.submit "Create Item" %>
<% end %>

<hr>
<% @items.each do |item| %>
  <h3><%= item.name %></h3>
  <h4><%= item.description %></h4>
  <% item.item_images.each do |item_image| %>
    <%= image_tag item_image.image %>
  <% end %>
<% end %>
